@media print {
    .fm_ex #expandNote, .fm_ex .preSummary, .fm_ex .preText {
        display: none !important;
    }

    body {
        page-break-inside: avoid;
    }
}

@media print, screen {
    .fm_ex td {
        padding: 2px;
        /*white-space: break-spaces;*/
    }

    .fm_ex table, .fm_ex td {
        border-width: 1px;
        border-style: solid; /* deciding...*/
        border-color: grey;
        border-collapse: collapse;
    }
.fm_ex #expandNote {
    display:block;
    font-family:verdana, sans-serif;
    font-size:small;
    font-style:italic;
    color:grey;
    padding-left:5px;
        width: 1000px;
    text-align:right;
    text-decoration:none;
    margin-bottom:10px;
    border-bottom: 1px solid transparent;
        background: linear-gradient(to right, white, white), linear-gradient(2deg, white, lightgrey);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}
.fm_ex .expandLink   {
    text-decoration:none;
        color: #ad1f2f;
}
.fm_ex .collapse {
    display: none;
}

.fm_ex .collapse.in {
    display: block;
}

.fm_ex .collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.35s ease;
    transition: height 0.35s ease;
}

.fm_ex .summary {
    cursor: pointer;
    margin-left:0px
}
.fm_ex .preSummary {
	margin-left: -21px
}

.fm_ex .preText {
	margin-left: 0x
}

.fm_ex .emph0.summary.collapsed:before,
.fm_ex .fhirDiv.summary.collapsed:before {
    border: solid;
    border-width:6px;
    border-color:white;
    margin-left:-5px;
    margin-right:3px;
    padding-right:3px;
    outline: none;
    content: '\0025B6 ';
    font-size: 10px;
    color: #ad1f2f;
    background-color:white !important;
    white-space:pre;
    color:black;
}

.fm_ex .summary:before,
.fm_ex .fhirDiv.summary:before {
    border: solid;
    border-width:6px;
    border-color:white;
    margin-left:-5px;
    margin-right:3px;
    padding-right:2px;
    outline: none;
    content: '\0025BC ';
    font-size: 10px;
    color: #ad1f2f;
    background-color:white !important;
    white-space:pre;
    color:black;
}

.fm_ex .fhirDiv.collapsed:after {
    border: none;
    outline: none;
        content: ' (hidden)';
    font-size:small;
        font-style: italic;
        font-weight:initial;
        color:black !important;
        border: none !important;
}
.fm_ex details {
    padding: 0px 0px 20px 0px;
}

.fm_ex details > summary {
    border: none;
    outline: none;
    cursor: pointer;
    margin-bottom: -10px;
}


    .fm_ex .valueEmph :before, .fm_ex .boldValueEmph :before {
    content: ' ';
}

.fm_ex span.emph0 {
    border: solid;
    border-width: 0px;
    border-color: #ad1f2f;
    background-color: #ad1f2f;
    margin-top: 2px;
    margin-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
    display: inline-block;
}

.fm_ex span.emph1 {
    display: inline-block;
    margin-bottom: 1px;
    margin-top: 2px;
    margin-right: 4px;
    border-left: solid #ad1f2f 1px;
    border-top: solid #ad1f2f 1px;
    border-right: solid #ad1f2f 1px;
    border-bottom: solid #ad1f2f 1px;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
}

.fm_ex span.emph2 {
    display: inline-block;
    margin-right: 1px;
    margin-bottom: 1px;
    margin-top: 2px;
    border-bottom: none;
    border-width: 1px;
    border-color: #ad1f2f;
    margin-left: 5px;
    font-weight:600;
}

.fm_ex span.emph3 {
    display: inline-block;
    margin-right: 1px;
    margin-bottom: 1px;
    margin-top: 2px;
    border-bottom: none;
    border-color: #ad1f2f;
    border-width: 1px;
        margin-left: 5px;
}

.fm_ex span.emph4 {
    display: inline-block;
    margin-top: 2px;
    margin-right: 1px;
    margin-bottom: 1px;
    margin-left: 5px;
    font-style: italic !important;
}

span.emph5 {
    display: inline-block;
    margin-top: 2px;
    margin-right: 1px;
    margin-bottom: 1px;
        margin-left: 5px;
}

span.emph6 {
    display: inline-block;
    margin-right: 1px;
    margin-bottom: 1px;
    margin-left: 5px;
    font-style: italic !important;
}


.fm_ex span.emph2:before, .fm_ex span.emph3:before,
.fm_ex span.emph4:before, .fm_ex span.emph5:before,
.fm_ex span.emph6:before, .fm_ex span.leastEmph:before {
  content: '.';
  white-space: pre;
}

.fm_ex span.leastEmph :after {
    content: '';
    white-space: pre;
}

.fm_ex span.emph2:after, .fm_ex span.emph3:after,
.fm_ex span.emph4:after, .fm_ex span.emph5:after, .fm_ex span.emph6:after {
    content: '';
    white-space: pre;
}

.fm_ex span.emph1, .fm_ex span.emph2, .fm_ex span.emph3,
.fm_ex span.emph4, .fm_ex span.emph5, .fm_ex span.emph6 {
    font-style: initial;
}

.fm_ex span.leastEmph {
    display: inline-block;
    margin-right: 1px;
    margin-bottom: 1px;
}

.fm_ex .valueEmph, .fm_ex .boldValueEmph {
    margin-right: 15px;
}

.fm_ex .fhirValue {
    display: none !important;
}

.fm_ex .indent0 br {
    display: inline;
}

.fm_ex .indent0 {
    display: block;
    border-style: dotted;
    border-width: 1px;
    border-radius: 5px;
    border-color: #ad1f2f;
    padding: 0px;
    margin-left: -18px;
    padding: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    outline-style: none;
    outline-width: 0px;
    outline-offset: 0px;
    outline-color: white;
}

.fm_ex .indent1 {
    display: block;
    border-style: dashed;
    border-width: 1px;
    border-color: #ad1f2f;
    border-radius: 5px;
    padding: 10px;
    margin-left: -11px;
    margin-top: 5px;
    margin-bottom: 5px;
    outline-style: solid;
    outline-width: 4px;
    outline-offset: 0px;
    outline-color: white;
}

.fm_ex .indent2 {
    display: block;
    border-style: dashed;
    border-width: 1px;
    border-color: #ad1f2f;
    background-color: whitesmoke;
    padding: 10px;
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    outline-style: solid;
    outline-width: 4px;
    outline-offset: 0px;
    outline-color: white;
}

.fm_ex .indent3 {
    display: block;
    border-style: dashed;
    border-width: 1px;
    border-color: #ad1f2f;
    background-color: white;
    padding: 10px;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    outline-style: solid;
    outline-width: 4px;
    outline-offset: 0px;
    outline-color: whitesmoke;
}

.fm_ex a.emphRepeat:before {
    content: '';
    padding-top: 15px !important;
}

.fm_ex  {
    text-decoration: none;
    font-family: Verdana, sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #ad1f2f;
}

.fm_ex a {
    text-decoration: none;
}

.fm_ex p, .fm_ex h1, .fm_ex h2, .fm_ex h3, .fm_ex h4 {
    color: black;
}

.fm_ex .valueEmph, .fm_ex .valueEmph a,
.fm_ex longHiddenContent, .longHiddenContent a,
.fm_ex span.longHiddenContent {
    color: black;
}

.fm_ex .boldValueEmph, .fm_ex .boldValueEmph a {
    font-weight: 600;
    color:  black;
}

        .fm_ex .longHiddenContent {
            border-style: none;
            border-color: #ad1f2f;
            border-width: 1px;
            padding: 10px;
            background-color: whitesmoke;
            display: block;
            margin: 10px;
            width:auto;
        }

        .fm_ex h1, .fm_ex h2, .fm_ex h3, .fm_ex h4, .fm_ex td, .fm_ex p {
            font-size: small;
}

.fm_ex span.emph0  {
    font-weight: 600;
    color: white !important;
}
div.fm_ex {
    min-width: 1000px;
    width: 1000px;
    padding-top: 0px;
    padding-left: 15px;
    padding-right: 25px;
    padding-bottom: 25px;
    margin-bottom: 25px;
}
}