<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">IG Home</a></li>
  <li><a href="toc.html">Table of Contents</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Guidance<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="roles.html">Roles</a>
      </li>
      <li>
        <a href="systematic-queries.html">Systematic Query Workflows</a>
      </li>
      <li>
        <a href="human-interaction.html">Information Flows Requiring Human Interaction</a>
      </li>
      <li>
        <a href="request-queries.html">Search Conventions</a>
      </li>
      <li>
        <a href="patient-matching.html">Patient Matching</a>
      </li>
      <li>
        <a href="message-structure.html">Message Structures</a>
      </li>
   	  <li>
        <a href="message-submission.html">Message Submission</a>
      </li>
   	  <li>
        <a href="error-handling.html">Error Handling</a>
      </li>
   	  <li>
        <a href="missing-data.html">Handling Missing Data</a>
      </li>
   	  <li>
        <a href="intermediary.html">Intermediary Facilitation</a>
      </li>
	  <li>
        <a href="security.html">Security</a>
      </li>
	</ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">FHIR Artifacts<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="artifacts.html">Profiles, Capability Statements and Examples</a>
      </li>
      <li>
        <a href="us-core-profiles.html">Applicable US Core Profiles</a>
      </li>
	</ul>
  </li>
<!--
  <li><a href="artifacts.html">FHIR Artifacts</a></li>
-->
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Support<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a target="_blank" href="{{site.data.fhir.path}}index.html">FHIR Spec</a>
      </li>
      <li>
        <a href="downloads.html">Downloads</a>
      </li>
    </ul>
  </li>
</ul>      
